/* BUTTON SECTION */
.form-btn {
    border-radius: 50px;
    border: none;
}

.btn  {
    color: rgb(250, 250, 250)!important;
    background-color: #5CE099!important;
    font-weight: 500;
}

.btn:hover  {
    color: #fff!important;
    background-color: #5CE099!important;
}

/* NAVBAR SECTION */

.navbar-brand img {
    width: 280px;
    height: 45px;
    padding-left: 80px;
}

.navbar-dark {
    background-color: #5CE099!important;
}

.navbar-nav-item {
    display: flex;
    justify-content: flex-start!important;
}

.nav-link {
    color: #fff!important;
    font-family: Arial!important;
}

.nav-item .nav-link:hover {
    color: rgb(76, 73, 73)!important;
}

.active {
    color: rgb(95, 93, 93);
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    float: right!important;
    width: 100%;
}

/* Hero section */

.hero-section {
    display: flex;
    justify-content: center;
    /* margin-bottom: -20px; */
    /* position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -10%); */
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    text align: center; */
}

.hero-img {
    width: ;
    height: 72vh;

}

.discription {
    text-align: center;
}

.hero-heading {
 
}

.hero-btn1 {
    border-radius: 50px!important;
    padding: 5px 15px 5px 15px;
    margin-left: 60px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-btn2 {
    border-radius: 50px!important;
    padding: 5px 15px 5px 15px;
    margin: 20px;
    background: #FC9A16!important;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}


/* FOOTER  SECTION*/

.bottom-footer {
    margin-top: 20px;
    height: 60px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    width: 100%;
    display: inline-block;
    background: rgb(96, 98, 98);
}

.bottom-footer a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

.bottom-footer a:hover {
    text-decoration: none;
    color: #ccc;
}



/* FORM SECTION */

#form-input {
    padding-left: 10px!important;
}

.login-form {
    width: 90%;!important;
    margin: 50px auto!important;
    -webkit-box-shadow: 0px 0px 43px -9px rgba(186,186,186,0.81);
    -moz-box-shadow: 0px 0px 43px -9px rgba(186,186,186,0.81);
    box-shadow: 0px 0px 43px -9px rgba(186,186,186,0.81);   
    padding: 30px;
    border-radius: 15px;
}

.form-control {
    border-radius: 50px!important;
}

.form-div {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-gap: 20px; */
  
    
}


/* USER INFORMATIN SECTION */

.user-info {
    width:90%;
    text-align: center;
    padding-top: 150px;
    margin-top: 50px;
    margin-left: 50px;
    height: 88%;
    -webkit-box-shadow: 0px 0px 43px -9px rgba(186,186,186,0.81);
    -moz-box-shadow: 0px 0px 43px -9px rgba(186,186,186,0.81);
    box-shadow: 0px 0px 43px -9px rgba(186,186,186,0.81);   
    padding: 30px;
    border-radius: 15px;
}

/* TYPOGRAPHY SECTION */

.headings {
    color: #5CE099;
    text-align: center;
    font-weight: 500;
}




@media (min-width: 1281px) {
  
    
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
    .form-div {
        display: grid;
        grid-template-columns: 1fr;
        
    }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
.form-div {
    display: grid;
    grid-template-columns: 1fr;
    
}
  
}